<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Slawny.pl | Website</title>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-light fixed-top py-4">
    <div class="container">
      
      <buttom class="navbar-toggler" data-toggle='collapse' data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </buttom>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a href="" class="nav-link">About Me</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Projects</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Offer</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Contact</a>
      
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container pt-5">
  
  <div class="row">
    <div class="col-sm-5 text-center">
      <img id="profilowe" class="img-fluid rounded-circle p-2 shadow" src="{{ url_for('static', filename='profilowe2.jpg') }}" alt="">
    </div>
    <div class="col-sm-7">
      <h2>About Me</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere, iusto? A nam molestias nihil? Consectetur esse quidem optio expedita. Voluptatem quia molestias officiis porro fugiat aut cupiditate deserunt suscipit recusandae, consequuntur eaque commodi, non?</p>
    </div>
  </div>
</div>


<!-- ACCORDIAN -->
<div class="container py-5">
  <div class="accordion" id="accordionExample">

    <!-- Edukacja -->

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h2 class="ms-5">Education</h2>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          
          <div class="row">
            <div class="col-md-7">
              
              <div class='container-experience'>
                <span>
                  <p class="kolko"></p>
                  <p class="linia"></p>
                </span>
                <span>
                  <span class="style-span-naglowek">
                    <h6 class="style-h6-university">Uniwersytet Gdański</h6>
                    <h6 class="style-h6-kierunek">Informatyka</h6>
                    <h6 class="style-h6-lata">2020 - OBECNIE</h6>
                  </span>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita neque ex harum in, perspiciatis, impedit a aspernatur commodi tempora maiores cumque laudantium?</p>
                </span>
              </div>
              <div class='container-experience'>
                <span>
                  <p class="kolko"></p>
                  <p class="linia"></p>
                </span>
                <span>
                  <span class="style-span-naglowek">
                    <h6 class="style-h6-university">Uniwersytet Gdański</h6>
                    <h6 class="style-h6-kierunek">MSG - Międzynarodowy transport i handel morski</h6>
                    <h6 class="style-h6-lata">2018 - 2020</h6>
                  </span>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita neque ex harum in, perspiciatis, impedit a aspernatur commodi tempora maiores cumque laudantium?</p>
                </span>
              </div> 
              <div class='container-experience'>
                <span>
                  <p class="kolko"></p>
                  <p class="linia"></p>
                </span>
                <span>
                  <span class="style-span-naglowek">
                    <h6 class="style-h6-university">Uniwersytet Gdański</h6>
                    <h6 class="style-h6-kierunek">Ekonomia - Transpor i logistyka</h6>
                    <h6 class="style-h6-lata">2015 - 2018</h6>
                  </span>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita neque ex harum in, perspiciatis, impedit a aspernatur commodi tempora maiores cumque laudantium?</p>
                </span>
              </div>
            </div>

            <div class="col-md-5 text-center">
              <img class="img-fluid education-img" src="{{ url_for('static', filename='university.png') }}" alt="">

            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Doświadczenie -->

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h2 class="ms-5 ">Experience</h2>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="row">
            <div class="col-md-7">
              
              <div class='container-experience'>
                <span>
                  <p class="kolko"></p>
                  <p class="linia"></p>
                </span>
                <span>
                  <span class="style-span-naglowek">
                    <h6 class="style-h6-university">NAUTIQUS</h6>
                    <h6 class="style-h6-kierunek">Spedytor morski</h6>
                    <h6 class="style-h6-lata">2018 - OBECNIE</h6>
                  </span>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita neque ex harum in, perspiciatis, impedit a aspernatur commodi tempora maiores cumque laudantium?</p>
                </span>
              </div>
              <div class='container-experience'>
                <span>
                  <p class="kolko"></p>
                  <p class="linia"></p>
                </span>
                <span>
                  <span class="style-span-naglowek">
                    <h6 class="style-h6-university">CMA</h6>
                    <h6 class="style-h6-kierunek">Praktyka w dziale transportu</h6>
                    <h6 class="style-h6-lata">2017.08 - 2018.02</h6>
                  </span>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita neque ex harum in, perspiciatis, impedit a aspernatur commodi tempora maiores cumque laudantium?</p>
                </span>
              </div> 
              <div class='container-experience'>
                <span>
                  <p class="kolko"></p>
                  <p class="linia"></p>
                </span>
                <span>
                  <span class="style-span-naglowek">
                    <h6 class="style-h6-university">DEE SET</h6>
                    <h6 class="style-h6-kierunek">Logistyka</h6>
                    <h6 class="style-h6-lata">2014 - 2015</h6>
                  </span>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita neque ex harum in, perspiciatis, impedit a aspernatur commodi tempora maiores cumque laudantium?</p>
                </span>
              </div>
            </div>

            <div class="col-md-5 text-center">
              <img class="img-fluid education-img" src="{{ url_for('static', filename='experience.png') }}" alt="">

            </div>
          </div>
        </div>
      </div>
    </div>

  

  
  </div>
</div>

<!-- Projects jumbotron-->

<div class="jumbotron jumbotron-fluid bg-light">
  <div class="container py-5">
    <h1 class="display-4 ">Projects</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas recusandae voluptatibus, natus architecto asperiores
      a.
    </p>
    
      <div class="row row-cols-1 row-cols-md-3 g-4">
        
        {% for repo in repos[:3] %}
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">{{repo['name']}}</h5>
              <p class="card-text">{{repo['description']}}</p>
              <a href="{{repo['html_url']}}" class="btn btn-primary">Chceck</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated: {{repo['updated_at'][0:10]}}</small>
            </div>
          </div>
        </div>

        {% endfor %}

        
      </div>
    
    
  </div>
</div>




    



<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>